<% provide(:title, @city.name) %>
<section class = "header">
	<div class="content">
		<div class="container">
			<h1 class = 'cheers'><%= @city.cheers%>!</h1>
			<p>It's 5 O'Clock in</p>
			<h2><%= @city.name %></h2>
		</div>
	</div>
</section>

<%= render(:partial => "fun_facts/fun_fact", :collection => @fun_facts) unless @fun_facts.blank? %>

<% if user_signed_in? && current_user.admin? %>
<section class = "fact">
	<div class="content">
		<div class="container">
			<h3>Add fact</h3>
			<%= form_for [@city, @new_fact] do |f| %>
				<%= render '/fun_facts/fields', f: f %>
				<div class="submit">
					<%= f.submit "Add fun fact", class: "btn" %>
				</div>
			<% end %>
		</div>
	</div>
</section>
<% end %>
